<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	
    <title>Tic Tac Go!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">TicTacGo!</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Tic Tac Go!</h1>
        <table class="third" id="board">
        	<tr>
        		<td id ="0"></td>
        		<td id ="1"></td>
        		<td id ="2"></td>
        	</tr>
        	<tr>
        		<td id ="3"></td>
        		<td id ="4"></td>
        		<td id ="5"></td>
        	</tr>
        	<tr>
        		<td id ="6"></td>
        		<td id ="7"></td>
        		<td id ="8"></td>
        	</tr>
        </table>
        <p class="lead first" >Enjoy a tic tac toe game against an AI developed with golang!</p>
        <p class="lead first">
          <button id="start" href="#" class="btn btn-lg btn-secondary" onclick="startGame()">Get started!</button>
        </p>
        <p class="lead second" >Please select wether you want to start first or let the AI start.</p>
        <p class="lead second">
          <button  href="#" class="btn btn-lg btn-secondary" onclick="startFirst()">Start first</button>
          <button  href="#" class="btn btn-lg btn-secondary" onclick="letAIStart()">Let AI start</button>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="love">Made <i class="icon ion-heart"></i> by Joan & Carles</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	<script>
  		var board = ["0","1","2","3","4","5","6","7","8"]
  		function startFirst(){
  			$(".second").hide();
  			$(".third").show()
  		}

  		function letAIStart(){
  			$(".second").hide();
  			$(".third").show();
  			var i = Math.floor((Math.random() * 8) + 1);
  			if (board[i] != "O" && board[i] != "X") {
  				$("#" + i).text("X")
  				board[i] = "X"
  			}
  		}

  		function nextAI(){
  			i = Math.floor((Math.random() * 8) + 1)
  			while(board[i] == "X" || board[i] == "O") {
  				i = Math.floor((Math.random() * 8) + 1)
  			}
  			$("#" + i).text("X")
  			board[i] = "X"
  		}

  		function startGame() {
  			$(".first" ).hide();
  			$(".second").show();

  		}

  		$("td").click(function(){
	  			var i = $(this).attr("id")
	  			if (board[i] != "O" && board[i] != "X") {
	  				$(this).text("O")
	  				board[i] = "O"
	  			}
	  			nextAI()
  			});

		$( document ).ready(function() {
    		console.log( "ready!" );
		});
	</script>
  </body>
</html>
